*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    text-decoration: none;
    list-style: none;
}

.logo {
    width: 180px;
    height: 60px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;
}
.link:active{
    background-color: white;
    border-radius: 250px;
}
.link:hover{
    background-color: white;
    border-radius: 250px;
    color: black;
}
.nav{
    
}